.popup {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.popup-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

html, body{
    box-sizing : border-box;
    margin : 0;
    padding : 0;
	height: 100%;
}

header{
    background-color : rgb(130, 142, 214);
}

.tache{
    background-color: rgb(130, 142, 214);
}

.text-shadow{
    text-shadow: 2px 2px 5px;
}

.fleche{
    background-image: url("img/fleche.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cartes{
	background-image: url("img/cartes.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	box-sizing: border-box;
}

.cartes-client{
	background-image: url("img/cartes_client.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	box-sizing: border-box;
}

.btn-cartes{
	background-color: transparent;
	border: 0;
}

.btn-cartes:hover, #bouton-astrologue:hover, #bouton-spirite:hover, #bouton-carto:hover, #bouton-statistiques:hover, #bouton-info-client:hover{
	background-color: rgba(255,255,255, 0.5); 
	text-decoration-line: underline;
}

header.header-popup{
	background-color: rgb(232, 81, 108);
}

.btn-saumon:disabled{
	background-color: rgb(243, 162, 177);
	color: white;
	width: 30%;
}

.btn-saumon{
	background-color: rgb(223, 28, 64);
	color: white;
	width: 30%;
}

.bg-saumon{
	background-color: rgb(243, 162, 177);
}

.petit-carre-saumon{
	background-color: rgb(223, 28, 64);
	color: transparent;
	width: 10px;
	height: 10px;
	margin-right: 1em;
}

